<h2>Log in as a client and start working it out!</h2>

<% if flash[ :messages ] %>
    <ul>
    <% flash[ :messages ].each do | error_message | %>
        <li style="color:red;"><%= error_message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_tag "/client_login", method: "post", class: "form-group" do %>
    <div class="input-group">
        <%= label_tag :name, "Client Name: ", class: "input-group-prepend" %>
        <%= text_field_tag :name, {}, class: "input-group-text" %>
    </div>
    <div class="input-group">
        <%= label_tag :password, "Enter Password: ", class: "input-group-prepend" %>
        <%= password_field_tag :password, {}, class: "input-group-text" %>
    </div>
    <div class="input-group">
        <%= label_tag :password_confirmation, "Confirm Password: ", class: "input-group-prepend" %>
        <%= password_field_tag :password_confirmation, {}, class: "input-group-text" %>
    </div>
        <%= submit_tag "Log in client" %>
<% end %>
