<h1>
    <%= image_tag "ClientIcon.svg", class: "model-icon" %>
    Edit <%= @client.name %>'s profile
</h1>
<% if flash[ :messages ] %>
    <ul>
    <% flash[ :messages ].each do | error_message | %>
        <li style="color:red;"><%= error_message %></li>
    <% end %>
    </ul>
<% end %>

<div class="input-group">
    <%= form_for @client do | f | %>
        <div class="input-group-prepend">
            <%= f.label :name, "Update your username:", class: 'input-group-text' %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="input-group-prepend">
            <%= f.label :password, "Update your password:", class: 'input-group-text' %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="input-group-prepend">
            <%= f.label :password_confirmation, "Confirm your password:", class: 'input-group-text' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="input-group-prepend">
            <%= f.label :coach_id, "Select your coach:", class: 'input-group-text' %>
            <%= f.collection_select :coach_id, Coach.all, :id, :name, class: 'form-control' %>
        </div>
        <div class="input-group-prepend">
            <%= f.label :birthday, "Select your birthday:", class: 'input-group-text' %>
            <%= date_select :client, :birthday, start_year: Date.current.year, end_year: 1920, class: 'form-control' %>
        </div>
        <div class="input-group-prepend">
            <%= f.label :avatar, "Avatar URL", class: 'input-group-text' %>
            <%= f.text_field :avatar, class: 'form-control' %>
        </div>
        <div class="input-group-prepend">
            <%= f.label :bio, class: 'input-group-text' %><br />
            <%= f.text_area :bio, class: 'form-control' %>
        </div>
        <%= f.submit "Update WorkItOuter profile", class: 'btn-primary' %>
    <% end %>
</div>
