<h1>Client Profile: <%= @client.name %></h1>

<% if flash[ :messages ] %>
    <ul>
    <% flash[ :messages ].each do | error_message | %>
        <li style="color:red;"><%= error_message %></li>
    <% end %>
    </ul>
<% end %>

<p><%= image_tag @client.avatar, size: "100" %></p>

<ul>
    <li>Age: <%= @client.age %></li>
    <li>Level: <%= @client.experience %></li>
    <li>Started working out on: <%= @client.created_at.strftime("%F") %></li>
    <li>My coach: <%= link_to @client.coach.name, coach_path(@client.coach) %></li>
</ul>


<p><%= @client.bio %></p>

<% if logged_in_as_client? && current_user.id == @client.id %>
    <%= button_to "Update Profile", edit_client_path(@client), method: 'get', class: "btn-primary"  %>
<% end %>


<h4> Current workouts</h4>

<div class="cards">
    <% @client.workouts.each do |workout|%>
       <div class="card">
            <div class="card-body">
                <h2 class="card-title"><%= workout.name %></h2>
                <p class="card-text"><%= workout.length %> min. | <%= workout.completed ? "Completed on: #{workout.updated_at}" : "Not Completed"%></p>
                <%= button_to "View Details", workout_path(workout), method: "get", class: "btn-primary" %>
                <% if (logged_in_as_client? && current_user.id == @client.id) || (logged_in_as_coach? && current_user.id == @client.coach.id) %>
                    <%= button_to "Delete this workout", delete_workout_path(workout), method: "delete", data: {confirm: "Are you sure?"}, class: "btn-primary" %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>


<% if logged_in_as_coach? && current_user.id == @client.coach.id %>
    <%= button_to "Add a workout", new_workout_path, method: "get", class: "btn-primary"  %>
<% end %>

<% if logged_in_as_client? && current_user.id == @client.id %>
    <%= button_to "Log out", logout_path, method: "delete", data: { confirm: "Are you sure?" }, class: "btn-primary"  %>
<% end %>