<h1>
    <%= image_tag "CoachIcon.svg", class: "model-icon" %>
    Coach Profile: <%= @coach.name%>
</h1>

<% if flash[ :messages ] %>
    <ul>
    <% flash[ :messages ].each do | error_message | %>
        <li style="color:red;"><%= error_message %></li>
    <% end %>
    </ul>
<% end %>

<table class="table table-borderless"><tr>
    <td id="avatar"><%= image_tag @coach.avatar, size: "100" %></td>
    <td>
        <p><%= @coach.bio %></p>
        <p>Started coaching on: <%= @coach.created_at.strftime("%F") %></p>
        <p>My clients:</p>
        <ol>
            <% @coach.clients.each do |client| %>
                <li><%= link_to client.name, client_path(client) %></li>
            <% end %>
        </ol>
    </td>
</tr></table>

<% if logged_in_as_coach? && current_user.id == @coach.id %>
    <div class="btn-group">
        <%= button_to "Update Profile", edit_coach_path(@coach), method: 'get', class: "btn-primary" %>
        <%= button_to "Add a workout", new_workout_path, method: "get", class: "btn-primary" %>
    </div>
<% end %>

<hr />

<h2>Specialties</h2>
<div class="cards">
    <% @coach.expertises.each do | expertise |%>
       <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= expertise.category.name %></h4>
                <p class="card-text">Mobility: <%= expertise.category.mobility %></p>
                <%= button_to "View Exercises/Coaches", category_path(expertise.category), method: "get", class: "btn-primary" %>
                <% if logged_in_as_coach? && current_user.id == @coach.id %>
                    <%= button_to "Remove this category", delete_expertise_path(expertise), method: 'delete', class: "btn-primary", data: { confirm: "Are you sure?" } %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<% if logged_in_as_coach? && current_user.id == @coach.id %>
    <div class="input-group">
        <%= form_with scope: :expertise, url: new_expertise_path(params: {coach_id: @coach.id}), method: 'post' do |f| %>
            <div class="input-group-prepend">
                <%= f.label "Add to specialties", class: 'input-group-text' %>
                <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category", class: 'form-control' %>
                <span class="input-group-text">Or create a new one!</span>
                <%= f.fields_for :category, Category.new do | category_attributes | %>
                    <%= category_attributes.label :name, "Name:", class: 'input-group-text'  %>
                    <%= category_attributes.text_field :name, class: 'form-control' %>
                    <%= category_attributes.label :mobility, "Mobility level:", class: 'input-group-text'  %>
                    <%= category_attributes.text_field :mobility, class: 'form-control'  %>
                <% end %>
                <%= f.submit "Add expertise", class: "btn-primary"%>
            </div>
        <% end %>
    </div>
<% end %>

<p>&nbsp;</p>
