<h1>Coach Profile: <%= @coach.name%></h1>

<% if flash[ :messages ] %>
    <ul>
    <% flash[ :messages ].each do | error_message | %>
        <li style="color:red;"><%= error_message %></li>
    <% end %>
    </ul>
<% end %>

<p><%= image_tag @coach.avatar, size: "100" %></p>

<p><%= @coach.bio %></p>

<ul>
    <li>Started coaching on: <%= @coach.created_at.strftime("%F") %></li>
    <li>My clients: 
        <ol>
            <% @coach.clients.each do |client| %>
                <li><%= link_to client.name, client_path(client) %></li>
            <% end %>
        </ol>
    </li>
</ul>


<% if logged_in_as_coach? && current_user.id == @coach.id %>
    <%= button_to "Update Profile", edit_coach_path(@coach), method: 'get' %>
<% end %>

<hr />

<p>Specialties</p>
<ol>
<% @coach.expertises.each do |expertise|%>
    <li><%= link_to expertise.category.name, category_path(expertise.category) %>
    <% if logged_in_as_coach? && current_user.id == @coach.id %>
        <%= button_to "Remove this category", delete_expertise_path(expertise), method: 'delete', data: { confirm: "Are you sure?" } %>
    <% end %>
    </li>
<% end %>
</ol>

<% if logged_in_as_coach? && current_user.id == @coach.id %>
    <%= form_with scope: :expertise, url: new_expertise_path(params: {coach_id: @coach.id}), method: 'post' do |f| %>
        <%= f.label "Add to specialties" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category" %>
        <span>Or create a new expertise category -</span>
        <%= f.fields_for :category, Category.new do | category_attributes | %>
            <%= category_attributes.label :name, "Name:" %>
            <%= category_attributes.text_field :name %>
            <%= category_attributes.label :mobility, "Mobility level:" %>
            <%= category_attributes.text_field :mobility %>
        <% end %>
        <%= f.submit "Add expertise"%>
    <% end %><br />
<% end %>

<hr />

<% if logged_in_as_coach? && current_user.id == @coach.id %>
    <%= button_to "Add a workout", new_workout_path, method: "get" %><br />
<% end %>
<% if logged_in_as_coach? && current_user.id == @coach.id %>
    <%= button_to "Log out", logout_path, method: "delete", data: { confirm: "Are you sure?" } %>
<% end %>
