<h1>Coach Profile: <%= @coach.name%></h1>


<p><%= image_tag @coach.avatar, size: "100" %></p>

<ul>
    <li>Started coaching on: <%= @coach.created_at.strftime("%F") %></li>
    <li>My clients: 
        <ol>
            <% @coach.clients.each do |client| %>
            <li><%= link_to client.name, client_path(client) %></li>
            <% end %>
        </ol>
    </li>
</ul>


<p><%= @coach.bio %></p>

<p>Specialties</p>
<ol>
<% @coach.expertises.each do |expertise|%>
    <li><%= link_to expertise.category.name, category_path(expertise.category) %>
    <%= button_to "Remove this category", delete_expertise_path(expertise), method: 'delete' %>
    </li>
<% end %>
</ol>


<%= form_with scope: :expertise, url: new_expertise_path(params: {coach_id: @coach.id}), method: 'post' do |f| %>
    <%= f.label "Add an expertise" %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%= f.submit "Add"%>
<% end %>
