<h1>
    <%= image_tag "CategoryIcon.svg", class: "model-icon" %>
    Browse Categories
</h1>

<div class="cards">
    <% @categories.each do |category|%>
       <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <%= category.name %>
                    <% case category.mobility %>
                        <% when "low" %>
                            <%= image_tag "LowMobilityIcon.svg", class: "mobility-icon" %>
                        <% when "medium" %>
                            <%= image_tag "MediumMobilityIcon.svg", class: "mobility-icon" %>
                        <% when "high" %>
                            <%= image_tag "HighMobilityIcon.svg", class: "mobility-icon" %>
                    <% end %>
                </h4>
                <%= button_to "View Exercises/Coaches", category_path(category), method: "get", class: "btn-primary" %>
            </div>
        </div>
    <% end %>
</div>
