<h1>
    <%= image_tag "CategoryIcon.svg", class: "model-icon" %>
    Category: <%= @category.name%>
    <% case @category.mobility %>
        <% when "low" %>
            <%= image_tag "LowMobilityIcon.svg", class: "mobility-icon" %>
        <% when "medium" %>
            <%= image_tag "MediumMobilityIcon.svg", class: "mobility-icon" %>
        <% when "high" %>
            <%= image_tag "HighMobilityIcon.svg", class: "mobility-icon" %>
    <% end %>
</h1>

<h3>Coaches who specialize in <%= @category.name %></h3>

<div class="cards">
    <% @category.coaches.each do |coach|%>
       <div class="card">
            <%= image_tag coach.avatar, class: "card-img-top" %>
            <div class="card-body">
                <h2 class="card-title"><%= coach.name %></h2>
                <p class="card-text"><%= coach.bio %></p>
                <%= button_to "View Profile", coach_path(coach), method: "get", class: "btn-primary" %>
            </div>
        </div>
    <% end %>
</div>


<h3><%= @category.name %> exercises</h3>

<div class="cards">
    <% @category.exercises.each do |exercise|%>
       <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= exercise.name %></h4>
                <p class="card-text">Difficulty: <%= exercise.difficulty %> | Muscle Group: <%= exercise.muscle_group %></p>
                <%= button_to "View Instructions", exercise_path(exercise), method: "get", class: "btn-sm" %>
            </div>
        </div>
    <% end %>
</div>
