<h1>
    <%= image_tag "ExerciseIcon.svg", class: "model-icon" %>
    Exercise: <%= @exercise.name %>
</h1>

<% if logged_in_as_coach? %>
    <%= button_to "Edit this exercise", edit_exercise_path( @exercise ), method: "get", class: 'btn-primary' %>
<% end %>

<hr />

<table><tr>
    <td><%== @exercise.embed_video %></td>
    <td>&nbsp;</td>
    <td>
        <p><b>Difficulty:</b> <%= @exercise.difficulty %></p>
        <p><b>Muscles worked:</b> <%= @exercise.muscle_group %></p>
        <p><b>Instructions:</b> <%= @exercise.instructions %></p>
    </td>
</tr></table>

<hr />

<h3>This exercise is included in the following workouts:</h3>
    <ul>
        <% @exercise.workouts.each do |workout|%>
        <li><%= link_to workout.name, workout_path(workout) %></li>
        <% end %>
    </ul>
