<h1>
    <%= image_tag "ExerciseIcon.svg", class: "model-icon" %>
    Exercise: <%= @exercise.name %>
</h1>

<%== @exercise.embed_video %>

<ul>
    <li>Difficulty: <%= @exercise.difficulty %></li>
    <li>Muscles worked: <%= @exercise.muscle_group %></li>
    <li>Instructions: <%= @exercise.instructions %></li>
    <li>This exercise is included in the following workouts:
        <ul>
            <% @exercise.workouts.each do |workout|%>
            <li><%= link_to workout.name, workout_path(workout) %></li>
            <% end %>
        </ul>
    </li>
</ul>
