<!DOCTYPE html>
<html>
  <head>
    <title>WorkItOut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="navbar" id="navbar">
      <%= render "layouts/navbar" %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="flex-sm-column" id="menu">
          <%= render "layouts/menu" %>
        </div>
        <div class="col" id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
